.parte1 {
    background-color: black;
}

.btnlargo {
    font-size: 150%;
}

.parte2 {
    background-color: aliceblue;
}

.parte2 .text1 {
    color: black;
}

.parte2 .text2 {
    color: grey;
}

.parte2 .text3 {
    color: rgb(62, 62, 66);
}

.divcolor {
    background-color: grey;
    border-radius: 10%;
    margin-top: 3%;
    height: 500px;
    width: 400px;
}

.h1coresdiferentes {
    display: block;
}

.parte3 {
    background-color: black;
    color: white;
    height: 500px;
}